<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.PhoneConnectionString"
            connectionString="Data Source=|DataDirectory|\Phone.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="TelephoneDiary.Properties.Settings.PhoneConnectionString"
            connectionString="Data Source=DEV-PC\DEV;Initial Catalog=PhoneBookNew;Integrated Security=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>